
.gauche{
	text-align: left;
	margin-bottom: 2em; 
}
.breadcrumb ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

.breadcrumb a,
.breadcrumb span {
            padding: .5em 1em;
 }

.breadcrumb li::before {
            content: "→";
 }

.breadcrumb li:first-child::before {
            content: "";
}


#titre{
	background:#33B9A0;  
	padding: 2em; 
	text-align: center;
	margin-left: 2em;  
	margin-right: 2em;
	font-style: normal; 
	border-radius: 1.5em;  


}
.container{
	margin-top: 3em; 
	font-size: 1.5em; 
}
.titreliste{
	border: 1em; 
	border-radius: 2em;  
	background:#33B9A0;  
	padding: 1em;
	margin-bottom: 1em; 
}

a:hover{
	color: #8B57A1;
}
a{
	color: #8B57A1;
}

li{
	list-style: 
}
.container-fluid{
	margin-top: 3em; 
	margin-bottom: 3em; 
}
.lien{
	text-align: center;
}
#bonnepratique{
	font-size: 2em;
	color: red;
	text-align: center;
}
#mauvaisepratique{
	font-size: 2em;
	color: #03597A;
	text-align: center;

}
h2{
	font-size: 1.5em; 
	color :#33B9A0; 
	
}


footer{
	height: 12em; 
	background:#33B9A0;  
}

#imageinformativefausse{
	
	border: dashed;  
	margin-top: 2em; 
	border-radius: 4em; 
	border-color: red; 
	text-align: center;
	margin-bottom: 5em;
	margin-left: 4em; 
	margin-right: 4em; 

}
#imageinformativevrai{
	
	border: dashed red;
	margin-top: 2em; 
	border-radius: 4em; 
 	margin-left: 4em; 
	margin-right: 4em; 
	border-color: #03597A; 
	text-align: center;
	margin-bottom: 5em;

}

img{
	width: 80%; 
	height: 80%;
	margin-bottom: 2em; 
}
figure{
	width: 100%; 
	height: 100%;
}

#collapseExample{
	text-align: left;
}

#frise{
	margin-bottom: 1em; 
}
figcaption{
	margin-bottom: 1em; 
}
#article1{
	width: 80%; 
	margin-bottom: 5em;
	margin-left: 3em;
}

#article2{
	width: 80%; 
	margin-bottom: 5em;
	margin-left: 3em;
}
footer{
	padding: 1em;
	background:#33B9A0;  
	font-size: 1.5em; 
	text-align: center;

}
footer a {
	color: black; 

}
footer a:hover{
	color: black; 

}

#nav {
  
  text-align: center; /* centrer le texte */
}
li {
  margin: 2em; 
  list-style: none;
  
  text-align: center;
}
 h2{
  text-align: center;
 }
img{
  margin-top: 2em; 
  width: 45%; 
  height: 40%;
}
button{
  margin-bottom: 2em; 
}

.row {
    margin-right: 1px;
    margin-left: 4px;
}

.button {
  background-color: #33B9A0; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
   width: 100%; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px; 
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #33B9A0;
}

.button1:hover {
  background-color: #33B9A0;
  color: white;
}

.button2 {
  background-color: #33B9A0;
  color: white; 
  border: 2px solid #33B9A0;
}

.container-fluid{
	margin-left: 10%;
}