* {
    font-family: Helvetica, Arial, Sans-Serif;
    color: black;
}

button.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;  
    transition: 0.4s;
    font-size: 1.2em;
    font-weight: bold;
}

button.accordion:focus, button.accordion:hover {
    -webkit-box-shadow:inset 0px 0px 0px 5px rgb(0, 129, 129);
    -moz-box-shadow:inset 0px 0px 0px 5px rgb(0, 129, 129);
    box-shadow:inset 0px 0px 0px 5px rgb(0, 129, 129);
} 
button.accordion.active {      
    background-color: teal; 
    border: 0;
}

div.panel {
    background-color: white;
    display: none;
}

div.panel.show {
    display: block;
}

button::-moz-focus-inner {
border: 0;
}

.panel p {
padding: 18px;
background: lightgray;
margin: 0;
text-align: centeleft;
}  

.panel h2{
    background-color: lightgrey;
    margin: 0;
    padding: 10px 20px;
}

h1{
    text-align: center;
}

main{
    width: 50%;
    margin: 0 auto;
}